$grey-lt-50: #fbfbfd !default;

$sidebar-color: $grey-lt-50;
$feedback-color: darken($sidebar-color, 3%);

$code-background-color: $grey-lt-50;

$link-color: $red-200;

$btn-primary-color: $red-300;
$base-button-color: $grey-lt-50;
